* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f9f9f9;
}

/* Container principal para centralizar o conteúdo */
.main-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #D32F2F; /* Cor vermelha */
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.header .logo {    
    top: -20px;
    left: 20px;
    z-index: 2;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav {
    display: flex;
    gap: 1rem;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

.nav a:hover {
    background: #FF7043;
    color: #fff;
    border-color: #fff;
    font-size: 1rem;
}

/* ===================== menu produtos ========================================== */

.thin-menu {
    background-color: #FF7043; /* Cor laranja */
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.thin-menu span {
    color: #fff; /* Cor branca */
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
    position: relative;
    text-decoration: none;
    cursor: pointer; /* Para dar a sensação de interatividade */
}

.thin-menu a {
    color: #fff; /* Cor branca */
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    position: relative;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 160px;
    text-align: left;
}

.dropdown-content a {
    color: #333;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    font-size: 13px;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* =============================================================== */

/* Hero section */
.hero {
    text-align: center;
    padding: 5rem 2rem;
    background: linear-gradient(to bottom right, rgba(255, 112, 67, 0.8), rgba(0, 86, 179, 0.8)),
                url('/static/images/site/fundo.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 0px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.email-link {
    font-size: 1.4rem;
    color: #004080;
    margin: 1rem 0;
}

/* Grid de produtos */
.produtos {
    padding: 2rem;
    text-align: center;
}

.produtos .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.produto {
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s;
    height: 100%;
}

.produto:hover {
    transform: translateY(-5px);
}

.produto img {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    margin: 0 auto;
}

.produto h3 {
    margin: 1rem 0 0.5rem;
    text-align: center;
}

.produto p {
    color: #28A745;
    background: #E2FFDB;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* Botão de adicionar ao carrinho */
.produto .btn-add-cart {
    background: #FF7043; /* Cor laranja */
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: stretch;
    text-align: center;
    text-decoration: none;
}

.produto .btn-add-cart:hover {
    background: #D32F2F; /* Cor vermelha */
}

/* Produto esgotado */
.produto.esgotado {
    filter: grayscale(100%) brightness(50%);
    color: #888;
}

.produto.esgotado img {
    filter: grayscale(100%) brightness(50%);
}

.produto.esgotado h3,
.produto.esgotado p,
.produto.esgotado .btn-add-cart {
    color: #888;
}

.produto.esgotado .btn-add-cart {
    pointer-events: none;
    cursor: not-allowed;
}

.sobre, .contato {
    padding: 2rem;
    text-align: center;
    background: #e9ecef;
}

/* Rodapé */
.footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
}

.social-media {
    margin-top: 1rem;
}

.social-icon {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icon:hover {
    color: #FF7043; /* Cor laranja */
}

.social-icon i {
    margin-right: 8px;
}

/* ===================== seletor de categorias  ===============================*/

/* Contêiner do seletor personalizado */
.custom-select {
    position: relative;
    width: 250px;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    margin: 0 auto; /* Centraliza o seletor horizontalmente */
    display: block; /* Garante que o seletor ocupe uma linha inteira */
    margin-bottom: 30px; /* Espaço entre o seletor e os produtos */
}

/* Estilo do campo selecionado com ícone de seta */
.selected-option {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o texto dentro do campo */
    position: relative; /* Necessário para posicionar a seta */
    cursor: pointer; /* Mostra que o campo é clicável */
}

/* Seta para baixo */
.selected-option::after {
    content: "▼"; /* Seta para baixo */
    font-size: 12px;
    color: #333;
    position: absolute;
    right: 10px; /* Posiciona à direita */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente */
    pointer-events: none; /* Impede interação com a seta */
}

/* Lista de opções escondida inicialmente */
.options-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    list-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Estilo de cada opção */
.options-list li {
    padding: 10px;
    color: #333;
    background-color: #fff;
    transition: background-color 0.2s, color 0.2s;
    text-align: center; /* Centraliza o texto das opções */
}

/* Hover nas opções */
.options-list li:hover {
    background-color: #D32F2F;
    color: #fff;
}

/* Exibir a lista ao ativar */
.custom-select.active .options-list {
    display: block;
}

/* Centralizar o seletor em relação aos produtos */
.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos horizontalmente */
    margin-top: 20px;
}




/* ============================================================================*/


h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Responsividade */
@media (max-width: 1024px) {
    .produtos .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .produto img {
        max-width: 180px;
    }

    .nav a {
        margin: 0 0.5rem;
    }

    .hero h1 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .produtos .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .produto img {
        max-width: 150px;
    }

    .hero h1 {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    .header .logo {
        font-size: 1.2rem;
    }

    .produtos .grid {
        grid-template-columns: 1fr;
    }

    .nav a {
       
