{% extends "base.html" %}

{% block content %}

<h2>Caixas de Som e Dispositivos de Áudio</h2>

<!-- Seletor de categoria -->
<select id="categoriaSelector">
    <option value="">Selecione uma categoria</option>
    <option value="Caixa de Som">Caixa de Som</option>
    <option value="Fone de Ouvido">Fone de Ouvido</option>
    <option value="Microfone">Microfone</option>
    <option value="MP3">MP3</option>
    <option value="Receptor">Receptor</option>
    <option value="Som Carro">Som Carro</option>
</select>

<div class="grid" id="produtosGrid">
    {% for produto in produtos %}
        {% if produto.disponivel != 'inv' %} <!-- Verifica se o produto está disponível -->
            <div class="produto {% if not produto.disponivel %}esgotado{% endif %}" data-categoria="{{ produto.categoria }}">
                <img src="{{ url_for('static', filename=produto.imagem) }}" alt="{{ produto.nome }}">
                <h3>{{ produto.nome }}</h3>
                {% if produto.disponivel %}
                    <a href="{{ produto.url }}" target="_blank" class="btn-add-cart">Conferir</a>
                {% else %}
                    <p class="esgotado">Produto Esgotado</p>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>


{% endblock %}

